<!-- frontend/core/templates/core/inicio.html -->
{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Bienvenido a Tecnologías Chapinas, S.A.</h2>
    </div>
    <div class="card-body">
        <p>Este sistema le permite gestionar la infraestructura en la nube, incluyendo:</p>
        <ul>
            <li>Envío de mensajes de configuración y consumo</li>
            <li>Creación y gestión de recursos, categorías, configuraciones y clientes</li>
            <li>Generación de facturas y reportes de ventas</li>
        </ul>
        <p>Seleccione una opción del menú lateral para comenzar.</p>
        <p><strong>Creado por Jonathan López</strong></p>
         <p><strong>Carné.202404730</strong></p>
    </div>
</div>
{% endblock %}